<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
    <ion-title>createStore</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="floating">ชื่อร้านค้า</ion-label>
    <ion-input [(ngModel)]="createStroeData.storeName" name="productName" type="text" class="form-control"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">อีเมลล์</ion-label>
    <ion-input [(ngModel)]="createStroeData.email" name="email" type="text" class="form-control"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">รหัสผ่าน</ion-label>
    <ion-input [(ngModel)]="createStroeData.password" name="password" type="password" class="form-control"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">ที่อยู่</ion-label>
    <ion-input [(ngModel)]="createStroeData.address" name="address" type="text" class="form-control"></ion-input>
  </ion-item>
  <ion-item>
      <ion-checkbox [(ngModel)]="createStroeData.type" checked="true"></ion-checkbox>
      <!-- <ion-label>Gender</ion-label>
      <ion-select [(ngModel)]="createStroeData.type" placeholder="Select One">
        <ion-select-option value="1">ลูกค้า</ion-select-option>
        <ion-select-option value="2">ร้านค้า</ion-select-option>
      </ion-select> -->
    </ion-item>
  <ion-button  padding expand="block" (click)="createStroes()">Accept</ion-button>
</ion-content>