<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="showUserData.type === '1'">
  <div>
    {{showUserData.fnames}}adasdadsaadsasdada
  </div>
  <div>
    {{showUserData.lname}}
  </div>
  <div>
    {{showUserData.email}}
  </div>
  <div>
    {{showUserData.address}}
  </div>
  <div padding>
      <ion-button  (click)="service.logoutUser()" fill="outline">Logout</ion-button>
     
    </div>
</ion-content>

<ion-content *ngIf="showUserData.type === '2'">
  <div>
    {{showUserData.fnames}} 
  </div>
  <div>
    {{showUserData.lname}}
  </div>
  <div>
    {{showUserData.email}}
  </div>
  <div>
    {{showUserData.address}}
  </div>
  <div padding>
      <ion-button  (click)="service.logoutUser()" fill="outline">Logout</ion-button>
     
    </div>
</ion-content>


  <ion-content *ngIf="user">
      <ion-button  (click)="logoutGoogle()" fill="outline">Logout</ion-button>
  </ion-content>
  
