<ion-header>
  <ion-toolbar>
    <ion-title>ข้อมูลผู้ใช้</ion-title>
    <div padding>
      <ion-button  *ngIf="showUserData.type === '1'"  (click)="service.logoutUser()" fill="outline">ออกจากระบบ</ion-button>
      <ion-button  *ngIf="showUserData.type === '2'"  (click)="service.logoutUser()" fill="outline">ออกจากระบบ</ion-button>
      <ion-button  *ngIf="user" (click)="logoutGoogle()" fill="outline">ออกจากระบบ</ion-button>
     
    </div>
  </ion-toolbar>
</ion-header>
<!-- User -->
<ion-content *ngIf="showUserData.type === '1'">
  <div>
    {{showUserData.fnames}}
  </div>
  <div>
    {{showUserData.lname}}
  </div>
  <div>
    {{showUserData.email}}
  </div>
  <div>
    {{showUserData.address}}
  </div>
</ion-content>
<!--UserStore  -->
<ion-content *ngIf="showUserData.type === '2'">
  <div>
    {{showUserData.fnames}} 
  </div>
  <div>
    {{showUserData.lname}}
  </div>
  <div>
    {{showUserData.email}}
  </div>
  <div>
    {{showUserData.address}}
  </div>
  <ion-button  routerLink="/add-product">
    <ion-icon name="add-circle-outline"></ion-icon>เพิ่มสินค้า</ion-button>
  <ion-button (click)="searchMyProduct()">
      <ion-icon name="cart"></ion-icon>
      แสดงสินค้า
     </ion-button>
     <ion-card *ngFor="let item of allProduct; let i = index">
        <ion-card-content>
          
         {{ item.productName}}<br>
         {{ item.price}}<br>
         {{ item._id}}<br>
         <img  width="5%" height="5%" src="{{item.image}}" />
         <ion-button (click)="deleteproduct(item._id)">
          <ion-icon name="trash"></ion-icon>
         </ion-button>
        </ion-card-content>
      </ion-card>
 
 
</ion-content>

